.App {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "Marske";
    src: url("/Fonts/Marske") format('truetype');
}

body {
    font-family: 'Marske';
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}