body {
    margin: 0;
    font-family: 'Markse';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #48c6ef 0%, #120fce 100%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'Marske';
    src: local('Marske'), url(./Fonts/Marske.otf);
    format: ('truetype');
}